.row{
    padding: 5%;
}

.createPost {
    display: none;
    padding: 5%;
}

.showPost {
    display: none;
    margin-top: 0;
}

.list-group{
    list-style-type: none;
}

.editView{
    display: none;
    margin: 5%;
}